<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons::head"></head>
<body>
<div class="wrapper">
    <!-- Navigation -->
    <header th:replace="fragments/commons::header"></header>

    <section th:each="r : ${routes}" th:object="${r}" class="road">
        <img th:src="*{pictureUrl}" alt="Route image" />
        <div>
            <h2 th:text="*{name}"></h2>
            <p th:text="*{description}"></p>
            <a th:href="@{/routes/details/{id}(id = *{id})}" class="btn"
            >Learn More</a
            >
        </div>
    </section>
</div>
<!-- Wrapper Ends -->
</body>
<footer th:replace="fragments/commons::footer"></footer>
</html>